<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsh.sportplay.dao.TProviceMapper">
  <resultMap id="BaseResultMap" type="com.lsh.sportplay.bean.TProvice">
    <!--@mbg.generated-->
    <!--@Table t_provice-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="placecounts" jdbcType="INTEGER" property="placecounts" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, tags, placecounts
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_provice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_provice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lsh.sportplay.bean.TProvice" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_provice (`name`, tags, placecounts
      )
    values (#{name,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, #{placecounts,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lsh.sportplay.bean.TProvice" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_provice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="placecounts != null">
        placecounts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="placecounts != null">
        #{placecounts,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsh.sportplay.bean.TProvice">
    <!--@mbg.generated-->
    update t_provice
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="placecounts != null">
        placecounts = #{placecounts,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsh.sportplay.bean.TProvice">
    <!--@mbg.generated-->
    update t_provice
    set `name` = #{name,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      placecounts = #{placecounts,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--auto generated by MybatisCodeHelper on 2020-07-09-->
  <select id="findByName" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_provice
    where `name`=#{name,jdbcType=VARCHAR}
  </select>
<!--auto generated by MybatisCodeHelper on 2020-07-09-->
  <update id="updateNameById">
    update t_provice
    set `name`=#{updatedName,jdbcType=VARCHAR}
    <where>
<if test="id != null">
 and id=#{id,jdbcType=INTEGER}</if>
    </where>
  </update>
</mapper>